<p id="notice"><%= notice %></p>
<%= render :partial => 'leader_board', :locals => {:leader_board => @leader_board} %>
<%= link_to 'Edit', edit_leader_board_path(@leader_board) %> |
<%= link_to 'Back', leader_boards_path %>
